/** navigation **/

nav li{
  display: inline;
  padding: 1.5rem;

}

nav{
  width: 100%;
  height: 4rem;
  color: white;
  background-color: #66BBDB;
  position: fixed;
  index: 10;
  display: flex;
  flex-direction: row;
  padding-left: 3rem;
}

/*** banner ***/

.banner-iceberg{
  background-image: url("../images/banner-no-wave.jpg");
  /* Set a specific height */
  min-height: 450px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  index:5;
}

.banner-polarbear{
  background-image: url("../images/banner-polarbear.png");
  min-height: 370px;
  background-size:cover;
  margin-top:-2rem;
}

.banner-iceberg img{
  margin:4rem 0rem 0rem 47rem;
  width: 35rem;
}

.banner-iceberg p{
  margin-left: 49rem;
  margin-top: 1rem;
  color: #FFFFFF;
}

.filler{
  min-height: 700px;
  background-color: #CCEDF9;
  index: 10;
}
